<h1>Listing sentences</h1>

<table>
  <thead>
    <tr>
      <th>Id cantonese</th>
      <th>Cantonese</th>
      <th>Id english</th>
      <th>English</th>
      <th>Id romanization</th>
      <th>Romanization</th>
      <th>Cantonese audio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.id_cantonese %></td>
        <td><%= sentence.cantonese %></td>
        <td><%= sentence.id_english %></td>
        <td><%= sentence.english %></td>
        <td><%= sentence.id_romanization %></td>
        <td><%= sentence.romanization %></td>
        <td><%= sentence.cantonese_audio %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentence', new_sentence_path %>
